.margot-heading::before {
  content: '';
  width: 100%;
  height: 30%;
  z-index: -1;
  bottom: 10px;
  @apply bg-yellow-300;
  @apply absolute;
}

.flamenco {
  font-family: 'Flamenco' !important;
}

.proza-libre {
  font-family: 'Proza Libre';
}

.open-sans {
  font-family: 'Open Sans';
}

button:focus {
  @apply outline-none;
}

h1,
h2 {
  font-family: 'Proza Libre';
}

*:not(h1, h2) {
  font-family: 'Open Sans';
}

@media (max-width: 640px) {
  .margot-heading-double::before {
    content: '';
    width: 90%;
    height: 40%;
    z-index: -1;
    bottom: 10px;
    --bg-opacity: 1;
    background-color: #faf089;
    background-color: rgba(250, 240, 137, var(--bg-opacity));
    position: absolute;
    left: 0;
  }
}
